################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Tailor/v17
/.vs
/TailorManagment/.vs/TailorManagment/FileContentIndex
/TailorManagment/.vs/TailorManagment/v17/TestStore/0
